/*@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');*/

.App {
  text-align: center;
}
@font-face {
font-family: 'Sriracha Regular';
font-style: normal;
font-weight: normal;
src: local('Sriracha Regular'), url('Sriracha-Regular.woff') format('woff');
}

h1 {
  font-family: 'Sriracha Regular';
  font-weight: 200;
  color:#64d8dc;
}
